# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/
dist/

# env
.env
.env.*
!.env.example

# python
__pycache__/
*.py[cod]
.venv/
venv/

# misc
.DS_Store
*.log
.vercel
*.tsbuildinfo
next-env.d.ts
